@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
/* Sets the browser at a uniform style*/

*{box-sizing: border-box;
}
/* Give our boxes a uniform size*/
body,html{
	font-size: 14px;
	font-family: "Georgia",sans-serif;
}
/* Nice basic font*/

body{
	background-color: antiquewhite;
	margin: 15px;
}
/*set some pleasantly off-white colors for background*/
img.icon{
	display: block;
	max-width: 50%;
	min-width: 200px;
	position: center;
	margin: auto;

}
img{
	max-width: 150%;
	margin: auto;
	position: center;
}
.box{
	max-width: device-width;
	margin: 10px;	
	padding: 20px;
	background-color: floralwhite;
}
.box.photo{
	padding: 10;
	max-width: device-width;
}
/*these are the small boxes where icons live*/
.littlebox{
	width=100%;
	max-width: 1000px;
	margin: 0 auto;	
	padding: 10px;
	background-color: papayawhip;
}
figure {
    background-color: floralwhite;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px ;
    margin-right: 20px ;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;

}
figcaption {
    margin: 0;
    font-size: 0.9rem;
    color: 3333;
}


h4{
text-align: center;
}
/*Time for some tablet/desktop styles*/
@media(min-width: 681px) {
    
    /*ADD HERE*/

}
@media(min-width: 780px) {

img{
	max-width: device-width;
}
    /*ADD HERE*/
   div.flex{
        display: flex;
        justify-content: space-between;
        background-color: floralwhite;
        margin: 10px;
    }

.flex>div{
    flex-basis: 50%;
}
}
img.icon{
	display: block;
	min-width: 150px;
	max-width: 50%;*/

}