@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
/* Sets the browser at a uniform style*/

*{box-sizing: border-box;
}
/* Give our boxes a uniform size*/
body,html{
	font-size: 14px;
	font-family: "Georgia",sans-serif;
}
/* Nice basic font*/

body{
	background-color: navajowhite;
	margin: 15px;
}
/*set some pleasantly off-white colors for background*/
img.icon{
	display: block;
	/*min-width: 150px;
	max-width: 50%;*/
	min-width: 150px;
	position: center;
	

}
h4{
	text-align: center;
}
#Byline{
	font-family:Georgia;
	font-size: 12px;
}
#Dateline{
	font-family: Georgia;
	font-size: 12px;
}
img{
	display: block;
	max-width: 140%;
	margin: auto;

}
.box{
	max-width: device-width;
	margin: 10px;	
	padding: 10px;
	background-color: seashell;
}
.box.photo{
	padding: auto;
	max-width: device-width;
}
/*these are the small boxes where icons live*/
.littlebox{
	
	max-width: 1000px;
	margin: 10px;	
	padding: 10px;
	background-color: lavender;
}
figure {
    background-color: floralwhite;
    margin-top: 0;
    margin-bottom: 0;
    align-content: left;
    margin-left: 0px ;
    margin-right: 0px ;
    padding-bottom: 5px;
    max-width: 90%;
    padding-right: 10px;
    padding-left: 10px;

    

}
figcaption {
    margin: 0;
    font-size: 0.9rem;
    color: 3333;
}



/*Tablet Style!*/
@media(min-width: 681px) {
    
.littlebox{
	
	max-width: 150px;
	margin: 10px;	
	padding: 10px;
	background-color: lavender;
}
img.icon{
	display: block;
	/*min-width: 150px;
	max-width: 50%;*/
	max-width: 120px;
	position: center;

}
img{
	max-width: device-width;
}
    /*ADD HERE*/
   div.flex{
        display: flex;
        justify-content: space-between;
        background-color: floralwhite;
        margin: 10px;
    }

.flex>div{
    flex-basis: 50%;
}
}
img.icon{
	display: block;
	min-width: 120px;
	max-width: 25%;
}
}
@media(min-width: 780px) {

img{
	max-width: device-width;
}
    /*ADD HERE*/
   div.flex{
        display: flex;
        justify-content: space-between;
        background-color: floralwhite;
        margin: 10px;
    }

.flex>div{
    flex-basis: 33%;
}
}
img.icon{
	display: block;
	min-width: 150px;
	max-width: 25%;

}
